# this is the .gitignore of the gh-pages branch
#
# here we *do* want PDF
# *.pdf

# vim

.swp

# standard LaTeX things

*.swp
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.tmp
*.orig
*.pgf
*.tuc
ls-R
